<div class="menu-buttons" ng-hide="hideMenuButtons()">
	<div class="menu-button-selection"></div>
	<a href="#/searchtenant" ng-click="goState('searchtenant')">
		<div class="menu-button">Search Tenant</div>
	</a>
	<a href="#/serviceappartment" ng-click="goState('serviceappartment')">
		<div class="menu-button">Service Appartment</div>
	</a>
	<a href="#/promotions" ng-click="goState('promotions')">
		<div class="menu-button">Promotions</div>
	</a>
	<a href="#/facilities" ng-click="goState('facilities')">
		<div class="menu-button">Facilities</div>
	</a>
	<a href="#/nearby" ng-click="goState('nearby')">
		<div class="menu-button">Nearby</div>
	</a>
</div>