html, body {
    background: transparent;
}

body {
    background: url('../images/screen_bg.jpg');
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    overflow: hidden;
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#site-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-color: lightskyblue;
    z-index: -1000;
}

#site-bg img {
    width: 1920px;
    height: 1080px;
    z-index: -1000;
}

.menu-buttons {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 1290px;
    transform: translate(-50%, 0);
}

.menu-buttons.ng-hide-add, .menu-buttons.ng-hide-remove {
  transition: 1s ease all;
}

.menu-buttons.ng-hide {
    opacity: 0;
}

.menu-button {
    background-color: rgba(255,255,255,0.2);
    border: white 1px solid;
    float: left;
    width: 256px;
    height: 43px;
    line-height: 43px;
    margin-right: 2px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Corbel;
    /* font-style: italic; */
    font-weight: bold;
    outline: none;
}

.menu-button.active {
    background-color: rgba(255,255,255,0);
    color: #2F76B3;
}

/*
.menu-button-selection {
    position: absolute;
    top: 0;
    left: 256px;
    width: 256px;
    height: 43px;
    background-color: rgba(255,255,255,0.3);
    z-index: -1;
}
*/

/*
#cover-logo {
    text-align: center;
    margin-top: 280px;
    transform-origin: 50% 50%;
}

#cover-logo.move-up, #cover-logo.move-down {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#cover-logo.move-up {
    -webkit-transform: translate(0,-280px) scale(0.8);
    -moz-transform: translate(0,-280px) scale(0.8);
    -o-transform: translate(0,-280px) scale(0.8);
    -ms-transform: translate(0,-280px) scale(0.8);
    transform: translate(0,-280px) scale(0.8);
}

#cover-log.move-down {
    transform: scale(1.25) translate(0, 284px);
}
*/

#cover-logo {
    text-align: center;
    margin-top: 280px;
    transform-origin: 50% 0%;
}

#cover-logo.move-up, #cover-logo.move-down {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#cover-logo.move-up {
    -webkit-transform: translate(0,-270px) scale(0.5);
    -moz-transform: translate(0,-270px) scale(0.5);
    -o-transform: translate(0,-270px) scale(0.5);
    -ms-transform: translate(0,-270px) scale(0.5);
    transform: translate(0,-270px) scale(0.5);
}

#cover-log.move-down {
    transform: scale(2) translate(0, 270px);
}

#logo {
    position: absolute;
    width: 132px;
    height: 88px;
    top: 30px;
    left: 30px;
    border: 0;
    z-index: 1000;
    background-image: url("../images/Yunfu_L_side_logo.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.page-logo {
    height: 110px;
}

#weather-container {
    position: absolute;
    width: 150px;
    height: 110px;
    top: 10px;
    right: 10px;
    border: 0;
    padding: 10px;
    background-color: rgba(70,130,188,0.7);
    z-index: 1000;
    color: white;
    border-radius: 5px;
}

.weather-temp {
    float: left;
    font-size: 26px;
    text-align: left;
    width: 65px;
    height: 30px;
    line-height: 30px;
}

.weather-icon {
    float: left;
    font-size: 26px;
    text-align: right;
    width: 65px;
    height: 30px;
    line-height: 30px;
}

.weather-dow {
    clear: both;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    line-height: 30px;
}

.weather-date {
    clear: both;
    text-align: center;
    font-size: 20px;
    width: 130px;
    height: 30px;
    line-height: 30px;
}

#bottom-shadow {
    position: absolute;
    width: 1920px;
    height: 542px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    background-image: url("../images/shadow_background_layer.png");
    background-repeat: no-repeat;
}

.child-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#language-buttons-small {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#language-buttons-big {
    text-align: center;
}

.language-button-big {
    float: left;
    margin-right: 20px;
}

#language-buttons-small.ng-hide-add, #language-buttons-small.ng-hide-remove {
  transition: 1s ease all;
}

#language-buttons-small.ng-hide {
    opacity: 0;
}

#content-mainselection {
    position: absolute;
    width: 1920px;
    top: 299px;
    left: 290px;
}

#content-apartment, #content-tenant {
    text-align: center;
    width: 100%;
    height: 100%;
}

/*
#content-apartment, #content-tenant {
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1920px;
    height: 814px;
}
*/

.apartment-container, .tenant-container {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1920px;
    height: 814px;
}

.building-container {
    width: 347px;
    height: 100%;
    float: left;
    background-color: rgba(255,255,255,0.4);
}

.building-image {
    background-image: url("../images/building.png");
    background-size: 135px 675px;
    background-repeat: no-repeat;
    float: left;
    margin-top: 75px;
    margin-left: 20px;
    width: 250px;
    height: 675px;
}

.building-floors {
    float: left;
    margin-top: 75px;
    margin-left: 0px;
    /* background-color: darkslateblue; */
}

.apartment-details-container {
    margin-left: 5px;
    width: 1548px;
    height: 100%;
    float: left;
    background-color: rgba(255,255,255,0.4);
    text-align: center;
}

.apartment-images {
    margin-top: 10px;
    margin-left: 91px;
    width: 1366px;
    height: 768px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.apartment-images img {
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.apartment-images .slick-slide {
    position: relative;
}

.apartment-description {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80%;
    background-color: rgba(255,255,255,0.3);
    color: white;
    text-align: justify;
    font-size: 24px;
    padding: 10px;
    text-shadow: 1px 1px black;
}

.tenant-map-container {
    position: relative;
    margin-left: 5px;
    width: 915px;
    height: 100%;
    float: left;
    background-color: rgba(255,255,255,0.3);
}

.from-map-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.from-map-container img, .to-map-container img {
    width: 500px;
    height: 500px;
}

.to-map-container {
    position: absolute;
    right: 0px;
    top: 0px;
}

.tenant-details-container {
    position: relative;
    margin-left: 5px;
    width: 628px;
    height: 100%;
    float: left;
    background-color: rgba(255,255,255,0.3);
}

.tenant-details-container #content {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    /* height: 764px; */
    height: 550px;
    width: 100%;
}


#tenantSearchView {
    border: 1px solid black;
    clear: both;
    padding: 0 1em;
}
#tenantSearchView.active {
    background-color: #000;
    color: #FFF;
}

/*for tabs*/
.md-tab{
    text-transform: none
}
#tenant-search-result-container {
    position: absolute;
    width: 628px;
    height: 440px;
    top: 10px;
    right: 10px;
    border: 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    color: black;
    border-radius: 5px;
    font-size: large;
    overflow: auto;

}
.tenant-detail-icon {
    width: 102px;
    height: 50px;
    top: 0px;
    left: 10px;
    border: 0;
    padding: 0px;
}
.tenant-name {
     width: 400px;
     height: 50px;
     top: 0px;
     left: 10px;
     border: 0;
     padding: 0px;
 }
.tenant-location {
    width: 50px;
    height: 50px;
    top: 10px;
    left: 200px;
    border: 0;
    padding: 10px;
}
#tenant-search-tabs-container {
    position: absolute;
    width: 628px;
    height: 300px;
    top: 450px;
    right: 10px;
    border: 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    border-radius: 5px;
}

.md-primary {
    background-color: transparent;
}
.tenant-search-Tabs md-tab-content {
    padding: 25px;
}
.tenant-search-Tabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
.tenant-search-Tabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0;
}
/*for tabs end*/

/*for keyboard*/
.text-keyboard-button{
    background-color: #66FFFF;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 25px;
    text-align: center;
    margin-left: 5px;
    border-radius: 3px;
    border: solid 1px white;
}
.category-keyboard-button{
    background-color: #66FFFF;
    display: inline-block;
    width: 150px;
    height: 80px;
    line-height: 25px;
    text-align: center;
    margin-left: 5px;
    border-radius: 3px;
    border: solid 1px white;
}
.floor-keyboard-button{
    background-color: #66FFFF;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    margin-left: 5px;
    border-radius: 3px;
    border: solid 1px white;
}

.keyboard-container{
    display: inline-block;
    text-align: center;
}

.keyboard-container ul{
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tenant-details-container #footer-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

.title {
    margin-top: 85px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 45px;
    color: #0f5b9c;
    /* font-family: Corbel; */
    font-family: Microsoft JhengHei;
    font-weight: bold;
}

#content-promotions, #content-facilities, #content-nearby {
    text-align: center;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
}

/*
#promotions-slider-container, #facilities-slider-container, #nearby-slider-container {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 1920px;
}
*/

#promotions-slider-container, #facilities-slider-container, #nearby-slider-container {
    margin-top: 50px;
    width: 1920px;
}


#promotions-slider-container .slick-dots li, #facilities-slider-container .slick-dots li, #nearby-slider-container .slick-dots li {
    display: none;
}

.promotion-container, .facility-container, .spot-container {
    /* position: relative; */
    /* float: left; */
    width: 366px;
    height: 715px;
}

.promotion-container img, .facility-container img, .spot-container img {
    width: 366px;
    height: 549px;
    /* margin: auto; */
    margin: 15px auto;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    display: block;
    /* -webkit-box-reflect : below 0 -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.3)), color-stop(0.3, transparent)); */
}

.reflect {
    -webkit-box-reflect : below 0 -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.3)), color-stop(0.3, transparent));
}

/*
.slick-popup {
    width: 1366px;
    height: 768px;
}
*/

.single-promotion-container, .single-facility-container, .single-spot-container {
    width: 1366px;
    height: 768px;
}

.single-promotion-container img, .single-facility-container img, .single-spot-container img {
    width: 1366px;
    height: 768px;
    margin: auto;
    display: block;
}

.selection-frame {
    position: absolute;
    top: 0;
    left: 0;
}

.selection-panel {
    position: relative;
    float: left;
    margin-right: 15px;
}

.selection-button {
    background-image: url("../images/main_selection_page/main_selection_panel_btn.png");
    background-repeat: no-repeat;
    margin-top: 2px;
    width: 256px;
    height: 43px;
    line-height: 43px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}

[ui-view] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
[ui-view].ng-enter {
    left: 100%;     /*initial css for view transition in*/
}
[ui-view].ng-leave {
    left: 0%;        /*initial css for view transition out*/
}
[ui-view].ng-enter-active {
    left: 0%;        /*final css for view transition in*/
}
[ui-view].ng-leave-active {
    left: -100%;    /*final css for view transition out*/
}

a:hover, a:active, a:focus {
    outline: none;
}

img {
    border: 0;
    outline: none;
}

.slick-popup .slick-dots li button:before {
    font-size: 14px;
}

.apartment-images .slick-dots li button:before {
    content: '■';
    font-size: 16px;
    color: white;
    opacity: 1;
}

.apartment-images .slick-dots li.slick-active button:before {
    color: #2F76B3;
    opacity: 1;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

.apartment-images .slick-prev, .apartment-images .slick-next {
    width: 80px;
    height: 80px;
    margin-top: -40px;
}

.apartment-images .slick-prev {
    left: -85px;
}

.apartment-images .slick-next {
    right: -85px;
}

.apartment-images .slick-prev:before, .apartment-images .slick-next:before {
    line-height: 80px;
    font-size: 80px;
}

.apartment-images .slick-dots {
    bottom: -36px;
}

.slick-slide, .slick-slide img {
    outline: none;
}

/*
.ngdialog.ngdialog-theme-default.custom-width .ngdialog-content {
    width: 1280px;
}

.ngdialog.ngdialog-theme-default {
    padding-top: 160px;
    padding-bottom: 0;
}
*/

/*
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
*/

#tenantSearchView {
    border: 1px solid black;
    clear: both;
    padding: 0 1em;
}
#tenantSearchView.active {
    background-color: #000;
    color: #FFF;
}

.dot {
    position: relative;
    background-image: url("../images/dot-gray.png");
    background-size: 9px 9px;
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
    margin-bottom: 2.5px;
}

.dot.active {
    background-image: url("../images/dot-red.png");
    animation: blinker 2s linear infinite;
}

.dot.ground {
    background-image: url("../images/dot-blue.png");
}

.dot.active::after, .dot.ground::after {
    position: absolute;
    background-image: url("../images/building-level-pointer.png");
    background-size: 54px 49px;
    background-repeat: no-repeat;
    width: 54px;
    height: 49px;
    line-height: 49px;
    content: attr(floor);
    display: block;
    top: -18px;
    left: 12px;
    font-size: 16px;
    color: white;
    font-style: italic;
    text-align: center;
}

.dot.active::before, .dot.ground::before {
    content: "";
    position: absolute;
    background-image: url("../images/building-level-highlight.png");
    width: 111px;
    height: 9px;
    display: block;
    right: 12px;
}

@keyframes blinker {
    40% { opacity: 0.4; }
}
