body {
    background: url('../images/screen_bg.jpg');
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    overflow: hidden;
}

.menu-buttons {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 1290px;
    transform: translate(-50%, 0);
}

.menu-buttons.ng-hide-add, .menu-buttons.ng-hide-remove {
  transition: 1s ease all;
}

.menu-buttons.ng-hide {
    opacity: 0;
}

.menu-button {
    background-color: rgba(255,255,255,0.2);
    border: white 1px solid;
    float: left;
    width: 256px;
    height: 43px;
    line-height: 43px;
    margin-right: 2px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: Corbel;
    font-style: italic;
    font-weight: bold;
}

.menu-button.active {
    background-color: rgba(255,255,255,0);
    color: #2F76B3;
}

/*
.menu-button-selection {
    position: absolute;
    top: 0;
    left: 256px;
    width: 256px;
    height: 43px;
    background-color: rgba(255,255,255,0.3);
    z-index: -1;
}
*/

#cover-logo {
    text-align: center;
    margin-top: 280px;
    transform-origin: 50% 50%;
}

#cover-logo.move-up, #cover-logo.move-down {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#cover-logo.move-up {
    -webkit-transform: translate(0,-280px) scale(0.8);
    -moz-transform: translate(0,-280px) scale(0.8);
    -o-transform: translate(0,-280px) scale(0.8);
    -ms-transform: translate(0,-280px) scale(0.8);
    transform: translate(0,-280px) scale(0.8);
}

#cover-log.move-down {
    transform: scale(1.25) translate(0, 284px);   
}

#logo {
    position: absolute;
    width: 132px;
    height: 88px;
    top: 30px;
    left: 30px;
    border: 0;
    z-index: 1000;
    background-image: url("../images/Yunfu_L_side_logo.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.page-logo {
    height: 110px;
}

#weather {
    position: absolute;
    width: 150px;
    height: 110px;
    top: 10px;
    right: 10px;
    border: 0;
    background-color: steelblue;
    z-index: 1000;
    color: white;
}

#bottom-shadow {
    position: absolute;
    width: 1920px;
    height: 542px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    background-image: url("../images/shadow_background_layer.png");
    background-repeat: no-repeat;
}

.child-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#language-buttons-small {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#language-buttons-big {
    text-align: center;
}

.language-button-big {
    float: left;
    margin-right: 20px;
}

#language-buttons-small.ng-hide-add, #language-buttons-small.ng-hide-remove {
  transition: 1s ease all;
}

#language-buttons-small.ng-hide {
    opacity: 0;
}

#content-mainselection {
    position: absolute;
    width: 1920px;
    top: 299px;
    left: 290px;
}

#content-apartment {
    margin-top: 141px;
    margin-left: 10px;
    margin-right: 10px;
    width: 1920px;
    /* height: 814px; */
    height: 600px;
}

.building-container {
    width: 317px;
    height: 100%;
    float: left;
    background-color: rgba(255,255,255,0.3);
    margin-right: 5px;
}

.building-image {
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    width: 150px;
    background-color: indianred;
}

.building-floors {
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    width: 100px;
    background-color: darkslateblue;
}

.apartment-details-container {
    width: 1578px;
    height: 100%;
    float: left;
    background-color: rgba(255,255,255,0.3);
}

.apartment-images {
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    width: 500px;
    background-color: lightseagreen;
}

.apartment-description {
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    width: 500px;
    background-color: royalblue;
}

#content-promotions, #content-facilities, #content-nearby {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#content-promotion, #content-facility, #content-spot {
    width: 1024px;
    height: 768px;
}

#promotions-slider-container, #facilities-slider-container, #nearby-slider-container {
    position: absolute;
    top: 190px;
    left: 0px;
    width: 1920px;
}

#promotions-slider-container .slick-dots li, #facilities-slider-container .slick-dots li, #nearby-slider-container .slick-dots li {
    display: none;
}

.promotion-container, .facility-container, .spot-container {
    width: 366px;
    height: 715px;
}

.promotion-container img, .facility-container img, .spot-container img {
    width: 366px;
    height: 549px;
    margin: auto;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    -webkit-box-reflect : below 0 -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.3)), color-stop(0.3, transparent));
}

.single-promotion-container, .single-facility-container, .single-spot-container {
    width: 1280px;
    height: 720px;
}

.single-promotion-container img, .single-facility-container img, .single-spot-container img {
    width: 1280px;
    height: 720px;
    margin: auto;
}

.selection-frame {
    position: absolute;
    top: 0;
    left: 0;
}

.selection-panel {
    position: relative;
    float: left;
    margin-right: 15px;
}

.selection-button {
    background-image: url("../images/main_selection_page/main_selection_panel_btn.png");
    background-repeat: no-repeat;
    margin-top: 2px;
    width: 256px;
    height: 43px;
    line-height: 43px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Microsoft JhengHei;
    font-weight: bold;
}

[ui-view] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
[ui-view].ng-enter,
[ui-view].ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
[ui-view].ng-enter {
    left: 100%;     /*initial css for view transition in*/
}
[ui-view].ng-leave {
    left: 0%;        /*initial css for view transition out*/
}
[ui-view].ng-enter-active {
    left: 0%;        /*final css for view transition in*/
}
[ui-view].ng-leave-active {
    left: -100%;    /*final css for view transition out*/
}

a:hover, a:active, a:focus {
    outline: none;
}

img {
    border: 0;
}

.slick-dots li button:before {
    font-size: 14px;
}

.ngdialog.ngdialog-theme-default.custom-width .ngdialog-content {
    width: 1280px;
}

.ngdialog.ngdialog-theme-default {
    padding-top: 160px;
    padding-bottom: 0;
}
