<div id="content-promotions">
	<div>
		<img class="page-logo" src="assets/images/cover_center_title_eng.png">
	</div>
	
	<div id="promotions-slider-container">
		<slick arrows="false" infinite="true" slides-to-show="4" swipe-to-slide="true">
			<!--
			<div class="promotion-container">
				<img src="assets/images/promotions/eight_weeks_of_bruce.large.jpg">
			</div>
			<div class="promotion-container">
				<img src="assets/images/promotions/everything_matters.large.jpg">
			</div>
			<div class="promotion-container">
				<img src="assets/images/promotions/gabriel_garcia_marquez.large.jpg">
			</div>
			<div class="promotion-container">
				<img src="assets/images/promotions/strange_bedfellows.large.jpg">
			</div>
			<div class="promotion-container">
				<img src="assets/images/promotions/whats_liberal_about_the_liberal_arts.large.jpg">
			</div>
			-->
			<div ng-repeat="promotion in promotions" class="promotion-container">
				<a href ng-click="showPromotionDetails(promotion.Name)">
					<div class="image">
					<img ng-src="{{ promotion.ImageUrl }}" alt="{{ promotion.Name }}">
					</div>
				</a>
			</div>
		</slick>
	<div>
</div>