<div class="child-content">
    <!--
    <div id="cover-logo" ng-class="moveUpDown">
        <img src="assets/images/cover_center_title_eng.png">
    </div>
    -->
    <div id="language-buttons-big">
        <div id="english-btn" class="language-button-big">
            <a href ng-click="setLanguageAndGo('en')">
                <img src="assets/images/btn_eng_big.png">
            </a>
        </div>
        <div id="chinese-btn" class="language-button-big">
            <a href ng-click="setLanguageAndGo('zh-cn')">
                <img src="assets/images/btn_chi_big.png">
            </a>
        </div>
    </div>
</div>