<div id="content-promotions">
	<div id="promotions-slider-container">
		<!-- <slick arrows="false" infinite="true" slides-to-show="{{ promotions.length < 5 ? prmotions.length : 5 }}" swipe-to-slide="true" lazy-load="progressive" dots="true"> -->
		<slick arrows="false" infinite="true" slides-to-show="{{ promotions.length < 5 ? prmotions.length : 5 }}" swipe-to-slide="true" dots="true">
			<div ng-repeat="promotion in promotions" class="promotion-container">
				<!-- <a href ng-click="showPromotionDetails(promotion.id)">
					<img ng-src="{{ promotion.imageUrl }}" data-lazy="{{ promotion.imageUrl }}" class="reflect">
				</a> -->
				<img ng-src="{{ promotion.imageUrl }}" class="reflect" ng-click="showPromotionDetails(promotion.id)">
			</div>
		</slick>
	</div>
</div>