<div id="content-apartment">
	<div class="title" translate="mainselection.apartment">
		Apartment
	</div>
	<div class="apartment-container">
		<div class="building-container">
			<div class="building-image">
			</div>
			<div class="building-sections">
				<div class="building-section" ng-repeat="section in buildingSections" ng-style="{ top: section.offsetY }">
					{{ language == 'en'? section.descriptionEn : section.descriptionZhCN }}
				</div>
			</div>
			<div class="building-floors">
				<div ng-repeat="floor in floors" class="dot" ng-class="{active: floor === currentApartment.floor, ground: floor === 0 }" floor="{{ floor === 0? 'G' : floor }}">
				</div>
			</div>
		</div>
		<div class="apartment-details-container">
			<div class="apartment-images">
				<slick arrows="true" dots="true" current-index="apartmentIndex" init-onload="true" data="apartments">
					<div ng-repeat="apartment in apartments">
						<img ng-src="{{ apartment.imageUrl }}">
						<div class="apartment-description">{{ language === 'zh-cn' ? apartment.descriptionCN : apartment.descriptionEN }}</div>
					</div>
				</slick>
			</div>
			<!--
			<div class="apartment-description">
				apartment description.
			</div>
			-->
		</div>
	</div>
</div>