<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>wayfinding</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
        <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />
        <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
        <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
        <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.css" />
        <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css" />
        <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons-wind.css" />
        <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons-wind.min.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- custom css -->
        <link rel="stylesheet" href="assets/styles/ngDialog-theme-custom.css">
        <link rel="stylesheet" href="assets/styles/app.css">
        <!-- endbuild -->
    </head>
    <body ng-app="wayfindingApp" ng-controller="TouchController">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="site-bg">
            <div ng-if="bgImages.length > 1">
                <slick infinite="true" fade="true" css-ease="linear" autoplay="true" speed="1000" zindex="-1000" autoplay-speed="{{ autoplaySpeed }}" speed="{{ transitionSpeed }}">
                    <div ng-repeat="image in bgImages">
                        <img ng-src="{{ image }}">
                    </div>
                </slick>
            </div>
            <div ng-if="bgImages.length == 1">
                <img ng-src="{{ bgImages[0] }}">
            </div>
        </div>

        <a href="#/cover"><div id="logo"></div></a>
        <div id="weather-container">
            <div class="weather-temp">
                {{ weather.temp | temp }}
            </div>
            <div class="weather-icon">
                <i class="wi wi-yahoo-{{ weather.id }}"></i>
            </div>
            <div class="weather-dow">
                {{ date | date: 'EEEE' }}
            </div>
            <div class="weather-date">
                {{ date | date: 'dd/MM/yyyy' }}
            </div>
        </div>
        <div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>
        <!-- <div ng-hide="$state.current.name == 'site'" ui-view="navbar" ng-cloak=""></div> -->
        <div class="container">
            <div id="cover-logo" ng-class="moveUpDown">
                <img src="assets/images/cover_center_title_eng.png">
            </div>
            <div ui-view="content"></div>

            <!-- <menu-button></menu-button> -->
            <div class="menu-buttons" ng-hide="hideMenuButtons()">
                <!-- <div class="menu-button-selection"></div> -->
                <a href="#/touch/tenants">
                    <div class="menu-button" ng-class="{active: $state.current.name === 'touch.tenant'}" translate="mainselection.tenant">Search Tenant</div>
                </a>
                <a href="#/apartment">
                    <div class="menu-button" ng-class="{active: $state.current.name === 'apartment'}" translate="mainselection.apartment">Service Apartment</div>
                </a>
                <a href="#/promotions">
                    <div class="menu-button" ng-class="{active: $state.current.name === 'promotions'}" translate="mainselection.promotions">Promotions</div>
                </a>
                <a href="#/facilities">
                    <div class="menu-button" ng-class="{active: $state.current.name === 'facilities'}" translate="mainselection.facilities">Facilities</div>
                </a>
                <a href="#/nearby">
                    <div class="menu-button" ng-class="{active: $state.current.name === 'nearby'}" translate="mainselection.nearby">Nearby</div>
                </a>
            </div>

            <div id="bottom-shadow"></div>
            <div id="language-buttons-small" ng-hide="hideSmallLanguageButtons()">
                <span style="margin-right:10px;">
                    <a href ng-click="setLanguage('en')">
                        <img ng-src="assets/images/{{ language == 'en' ? 'Btn_eng_sml_active.png' : 'Btn_eng_sml.png' }}">
                    </a>
                </span>
                <span>
                    <a href ng-click="setLanguage('zh-cn')">
                        <img ng-src="assets/images/{{ language == 'zh-cn' ? 'Btn_chi_sml_active.png' : 'Btn_chi_sml.png' }}">
                    </a>
                </span>
            </div>
        </div>

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/messageformat/messageformat.js"></script>
        <script src="bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
        <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="bower_components/angular-slick/dist/slick.js"></script>
        <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
        <script src="bower_components/ng-idle/angular-idle.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/maxbytes.directive.js"></script>
    <script src="scripts/components/form/minbytes.directive.js"></script>
    <script src="scripts/components/form/pager.directive.js"></script>
    <script src="scripts/components/form/pagination.directive.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/interceptor/auth.interceptor.js"></script>
    <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
    <script src="scripts/components/interceptor/notification.interceptor.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/alert/alert.service.js"></script>
    <script src="scripts/components/alert/alert.directive.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/dateutil.service.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/health/health.modal.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.modal.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
    <script src="scripts/app/admin/user-management/user-management.js"></script>
    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <script src="scripts/app/main/main.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="scripts/app/touch/touch.js"></script>
    <script src="scripts/app/touch/touch.controller.js"></script>
    <script src="scripts/app/touch/touch.service.js"></script>
    <script src="scripts/app/touch/weather/weather.js"></script>
    <script src="scripts/app/touch/weather/weather.service.js"></script>
    <script src="scripts/app/touch/weather/weather.controller.js"></script>
    <!-- <script src="scripts/app/touch/touch.directive.js"></script> -->
    <script src="scripts/app/touch/cover/cover.js"></script>
    <script src="scripts/app/touch/cover/cover.controller.js"></script>
    <script src="scripts/app/touch/tenant/tenant.js"></script>
    <script src="scripts/app/touch/tenant/tenant.controller.js"></script>
    <script src="scripts/app/touch/tenant/tenant-dialog.controller.js"></script>
    <script src="scripts/app/touch/tenant/tenant-detail.controller.js"></script>
    <script src="scripts/app/touch/mainselection/mainselection.js"></script>
    <script src="scripts/app/touch/mainselection/mainselection.controller.js"></script>
    <script src="scripts/app/touch/apartment/apartment.js"></script>
    <script src="scripts/app/touch/apartment/apartment.controller.js"></script>
    <script src="scripts/app/touch/promotions/promotions.js"></script>
    <script src="scripts/app/touch/promotions/promotions.controller.js"></script>
    <script src="scripts/app/touch/facilities/facilities.js"></script>
    <script src="scripts/app/touch/facilities/facilities.controller.js"></script>
    <script src="scripts/app/touch/nearby/nearby.js"></script>
    <script src="scripts/app/touch/nearby/nearby.controller.js"></script>
    <script src="bower_components/messageformat/locale/en.js"></script>
    <script src="bower_components/messageformat/locale/fr.js"></script>
    <script src="scripts/components/language/language.service.js"></script>
    <script src="scripts/components/language/language.controller.js"></script>
    <script src="scripts/components/auth/services/sessions.service.js"></script>
    <script src="scripts/components/auth/provider/auth.session.service.js"></script>
    <script src="scripts/app/account/sessions/sessions.js"></script>
    <script src="scripts/app/account/sessions/sessions.controller.js"></script>
    <script src="bower_components/messageformat/locale/zh.js"></script>
    <script src="scripts/app/entities/tenant/tenant.js"></script>
    <script src="scripts/app/entities/tenant/tenant.controller.js"></script>
    <script src="scripts/app/entities/tenant/tenant-dialog.controller.js"></script>
    <script src="scripts/app/entities/tenant/tenant-detail.controller.js"></script>
    <script src="scripts/components/entities/tenant/tenant.service.js"></script>
    <script src="scripts/app/entities/tenantUrl/tenantUrl.js"></script>
    <script src="scripts/app/entities/tenantUrl/tenantUrl.controller.js"></script>
    <script src="scripts/app/entities/tenantUrl/tenantUrl-dialog.controller.js"></script>
    <script src="scripts/app/entities/tenantUrl/tenantUrl-detail.controller.js"></script>
    <script src="scripts/components/entities/tenantUrl/tenantUrl.service.js"></script>
    <script src="scripts/app/entities/promotion/promotion.js"></script>
    <script src="scripts/app/entities/promotion/promotion.controller.js"></script>
    <script src="scripts/app/entities/promotion/promotion-dialog.controller.js"></script>
    <script src="scripts/app/entities/promotion/promotion-detail.controller.js"></script>
    <script src="scripts/components/entities/promotion/promotion.service.js"></script>
    <!-- endbuild -->
</body>
</html>
