<div id="content-tenant">
    <div class="title" translate="mainselection.tenant">
        Tenant
    </div>
    <div class="tenant-container">
        <div class="building-container">
            <div class="building-image">
            </div>
            <div class="building-floors">
                <div ng-repeat="floor in floors" class="dot" ng-class="{active: floor === selectedFloor, ground: floor === 0}" floor="{{ floor === 0? 'G' : 'L' + floor }}">
                </div>
            </div>
        </div>
        <div class="tenant-map-container">
            <div class="from-map-container">
                <img ng-src="assets/images/floor-plan/0.png">
            </div>
            <div ng-repeat="floorPlan in floorPlans" class="to-map-container" ng-if="showFloorPlan(floorPlan.floorNum)">
                <img ng-src="{{ floorPlan.floorPlanImageUrl }}">
                <div class="tenant-map-pointer-right" ng-style="selectedRoomCoord">
                    {{ selectedRoom }}
                </div>
            </div>
        </div>
        <div class="tenant-details-container">
            <div id="tenant-search-result-container">
                <!--<table id="tenantSearchResults">-->
                <!--<tr ng-repeat="tenant in tenants | filter:searchModel">-->
                <!--<td class="tenant-detail-icon"> </td>-->
                <!--<td class="tenant-name">{{tenant.name}}</td>-->
                <!--<td class="tenant-location">{{tenant.location}}</td>-->
                <!--</tr>-->
                <!--</table>-->
                <md-list ng-ng-cloak>
                    <md-list-item class="tenant-list-item" ng-repeat="tenant in tenants | filter:searchModel | orderBy:'Nameen_us'" ng-click="selectTenant(tenant)">
                        <!--<p class="tenant-detail-icon" ng-src="{{ tenant.img }}"> </p>-->
                        <!--<p class="tenant-name">{{ language == 'en' ? tenant.Nameen_us : tenant.Namezh_cn }}</p>-->
                        <div class="tenant-name">{{ language === 'en' ? tenant.Nameen_us : tenant.Namezh_cn }}</div>
                        <div class="tenant-location">{{ tenant.RoomNO }}</div>
                    </md-list-item>
                </md-list>
            </div>
            <div id="tenant-search-tabs-container">
                <md-content style="background:transparent;" md-align="bottom">
                    <md-tabs class="md-primary" md-selected="tabs.selectedIndex" md-align-tabs="bottom" md-stretch-tabs="always">
                        <md-tab id="byTenant">
                            <md-tab-label ng-click="reset()">By Tenant</md-tab-label>
                            <md-tab-body>
                                <input readonly ng-model="searchModel.Nameen_us" type="text" search-text="" class="form-control readonly-input" />
                                <div>
                                    <div class="keyboard-container">
                                        <div ng-repeat="row in searchByTenantKeyboardLayout" class="keyboard-row">
                                            <div ng-repeat="element in row.row" class="text-keyboard-button" ng-class="{double: element.action == 'clear', backspace: element.action == 'del'}" ng-click="textKeyPressed(element.value, element.action)">
                                                {{element.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab id="byCategory">
                            <md-tab-label>By Category</md-tab-label>
                            <md-tab-body>
                                <input ng-model="searchModel.ShopCategory" type="text" search-category="" hidden/>
                                <div>
                                    <div class="keyboard-container">
                                        <div ng-repeat="row in searchByCategoryKeyboardLayout" class="keyboard-row">
                                            <div ng-repeat="element in row.row" class="category-keyboard-button" ng-click="categoryKeyPressed(element.value, element.action)">
                                                {{element.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab id="byFloor">
                            <md-tab-label>By Floor</md-tab-label>
                            <md-tab-body>
                                <input readonly ng-model="searchModel.RoomNO" type="text" search-floor="" class="form-control readonly-input" />
                                <div>
                                    <div class="keyboard-container">
                                        <div ng-repeat="row in searchByFloorKeyboardLayout" class="keyboard-row">
                                            <div ng-repeat="element in row.row" class="floor-keyboard-button" ng-class="{double: element.action == 'clear', backspace: element.action == 'del'}" ng-click="floorKeyPressed(element.value, element.action)">
                                                {{element.description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>