<div id="content-tenant">
    <div class="title" translate="mainselection.tenant">
        Tenant
    </div>
    <div class="tenant-container">
        <div class="building-container" ng-cloak>
            <div class="building-image">
            </div>
            <div class="building-sections">
				<div class="building-section" ng-repeat="section in buildingSections" ng-style="{ top: section.offsetY }">
					{{ language == 'en'? section.descriptionEn : section.descriptionZhCN }}
				</div>
			</div>
            <div class="building-floors">
                <div ng-repeat="floor in floors" class="dot" ng-class="{active: floor === selectedFloor, ground: floor === 0}" floor="{{ floor === 0? 'G' : floor }}">
                </div>
            </div>
        </div>
        <div class="tenant-map-container" ng-cloak>
            <div class="from-map-container" ng-class="{'scale-up': !tenantSelected, 'scale-down': tenantSelected}">
                <img ng-src="assets/images/floor-plan/0.png">
            </div>
            <div ng-repeat="floorPlan in floorPlans" class="to-map-container" ng-if="showFloorPlan(floorPlan.floorNum)">
                <img ng-src="{{ floorPlan.floorPlanImageUrl }}">
                <div class="tenant-map-pointer-right" ng-style="selectedRoomCoord">
                    {{ selectedRoom }}
                </div>
            </div>
        </div>
        <div class="tenant-details-container">
            <div id="tenant-search-result-container">
                <!--<table id="tenantSearchResults">-->
                <!--<tr ng-repeat="tenant in tenants | filter:searchModel">-->
                <!--<td class="tenant-detail-icon"> </td>-->
                <!--<td class="tenant-name">{{tenant.name}}</td>-->
                <!--<td class="tenant-location">{{tenant.location}}</td>-->
                <!--</tr>-->
                <!--</table>-->
                <!--
                <md-list ng-ng-cloak>
                    <md-list-item class="tenant-list-item" ng-repeat="tenant in tenants | filter:searchModel | orderBy:'Nameen_us'" ng-click="selectTenant(tenant)">
                        <div>
                            <div class="tenant-name">{{ language === 'en' ? tenant.Nameen_us : tenant.Namezh_cn }}</div>
                            <div class="tenant-location">{{ tenant.RoomNO }}</div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
                -->
                <md-list ng-if="tabs.selectedIndex==0" ng-clock ng-repeat="tnts in tenants | filter:searchModel:startsWith | groupBy:'firstEnLetter' | toArray:true">
                    <md-subheader class="tenant-list-subheader">{{ tnts.$key }}</md-subheader>
                    <md-list-item class="tenant-list-item" ng-repeat="tenant in tnts" ng-click="selectTenant(tenant)">
                        <div class="tenant-name">{{ language === 'en' ? tenant.Nameen_us : tenant.Namezh_cn }}</div>
                        <div class="tenant-location">{{ tenant.RoomNO }}</div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
                <md-list ng-if="tabs.selectedIndex==1" ng-clock ng-repeat="tnts in tenants | filter:searchModel | groupBy:'ShopCategory' | toArray:true">
                    <md-subheader class="tenant-list-subheader">{{ getCategoryName(tnts.$key) }}</md-subheader>                    
                    <md-list-item class="tenant-list-item" ng-repeat="tenant in tnts" ng-click="selectTenant(tenant)">
                        <div class="tenant-name">{{ language === 'en' ? tenant.Nameen_us : tenant.Namezh_cn }}</div>
                        <div class="tenant-location">{{ tenant.RoomNO }}</div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
                <md-list ng-if="tabs.selectedIndex==2" ng-clock ng-repeat="tnts in tenants | filter:searchModel:startsWith | groupBy:'floor' | toArray:true">
                    <md-subheader class="tenant-list-subheader">{{ tnts.$key }}</md-subheader>
                    <md-list-item class="tenant-list-item" ng-repeat="tenant in tnts" ng-click="selectTenant(tenant)">
                        <div class="tenant-name">{{ language === 'en' ? tenant.Nameen_us : tenant.Namezh_cn }}</div>
                        <div class="tenant-location">{{ tenant.RoomNO }}</div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
            <div id="tenant-search-tabs-container">
                <md-content style="background:transparent;" md-align="bottom">
                    <md-tabs class="md-primary" md-selected="tabs.selectedIndex" md-align-tabs="bottom" md-stretch-tabs="always">
                        <md-tab id="byTenant">
                            <md-tab-label ng-click="reset()">{{ 'tenant-keyboard.searchBy.tenant' | translate }}</md-tab-label>
                            <md-tab-body>
                                <input readonly ng-model="searchModel.Nameen_us" type="text" search-text="" class="form-control readonly-input" />
                                <div>
                                    <div class="keyboard-container">
                                        <div ng-repeat="row in searchByTenantKeyboardLayout" class="keyboard-row">
                                            <div ng-repeat="element in row.row" class="text-keyboard-button" ng-class="{double: element.action == 'clear', backspace: element.action == 'del'}" ng-click="textKeyPressed(element.value, element.action)">
                                                <!-- {{element.description}} -->
                                                {{ 'tenant-keyboard.keys.' + element.value | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab id="byCategory">
                            <md-tab-label>{{ 'tenant-keyboard.searchBy.category' | translate }}</md-tab-label>
                            <md-tab-body>
                                <input ng-model="searchModel.ShopCategory" type="text" search-category="" hidden/>
                                <div>
                                    <div class="keyboard-container">
                                        <!--
                                        <div ng-repeat="row in searchByCategoryKeyboardLayout" class="keyboard-row">
                                            <div ng-repeat="element in row.row" class="category-keyboard-button" ng-click="categoryKeyPressed(element.value, element.action)">
                                                {{element.description}}
                                            </div>
                                        </div>
                                        -->
                                        <div ng-repeat="category in categories" class="category-keyboard-button" ng-click="categoryKeyPressed(category.FaciltiyNumber, 'filter')">
                                            {{ language === 'en' ?  category.FaciltiyDescriptionen_us : category.FaciltiyDescriptionzh_cn }}
                                        </div>
                                        <div class="category-keyboard-button" ng-click="categoryKeyPressed('all', 'clear')">
                                            {{ 'tenant-keyboard.keys.ALL' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab id="byFloor">
                            <md-tab-label>{{ 'tenant-keyboard.searchBy.floor' | translate }}</md-tab-label>
                            <md-tab-body>
                                <input readonly ng-model="searchModel.floor" type="text" search-floor="" class="form-control readonly-input" />
                                <div>
                                    <div class="keyboard-container">
                                        <div ng-repeat="row in searchByFloorKeyboardLayout" class="keyboard-row">
                                            <div ng-repeat="element in row.row" class="floor-keyboard-button" ng-class="{double: element.action == 'clear', backspace: element.action == 'del'}" ng-click="floorKeyPressed(element.value, element.action)">
                                                {{ 'tenant-keyboard.keys.' + element.value | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>