<div id="content-tenant">
    <div class="title" translate="mainselection.tenant">
        Tenant
    </div>
    <div class="tenant-container">
        <div class="building-container">
            <div class="building-image">
            </div>
            <div class="building-floors">
                <div ng-repeat="floor in floors" class="dot">
                </div>
            </div>
        </div>
        <div class="tenant-map-container">
        </div>
        <div class="tenant-details-container">
            <div id="content">
                <div id="tenantSearchView">
                    <div id="tenant-search-result-container">
                        <table id="tenantSearchResults">
                            <tr ng-repeat="tenant in tenants | filter:search">
                                <td class="tenant-detail-icon"> </td>
                                <td class="tenant-name">{{tenant.name}}</td>
                                <td class="tenant-location">{{tenant.location}}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="tenant-search-tabs-container">
                    <md-content class="md-padding" md-align ="bottom">
                        <md-tabs class="md-primary" md-selected="data.selectedIndex" md-align-tabs="bottom">
                            <md-tab id="byTenant">
                                <md-tab-label>By Tenant</md-tab-label>
                                <md-tab-body>
                                    <input ng-model="search.name" type="text" search-text="" style="width: 100%"/>
                                    <div >
                                        <div class="keyboard-container">
                                            <ul ng-repeat="row in searchByTenantKeyboardLayout" style="list-style-type: none;">
                                                <li ng-repeat="element in row.row" class="text-keyboard-button"
                                                    ng-click="textKeyPressed(element.value, element.action)">
                                                    {{element.value}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </md-tab-body>
                            </md-tab>
                            <md-tab id="byCategory">
                                <md-tab-label>By Category</md-tab-label>
                                <md-tab-body>
                                    <div >
                                        <div class="keyboard-container">
                                            <ul ng-repeat="row in searchByCategoryKeyboardLayout" style="list-style-type: none;">
                                                <li ng-repeat="element in row.row" class="category-keyboard-button"
                                                    ng-click="categoryKeyPressed(element.value, element.action)">
                                                    {{element.value}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </md-tab-body>
                            </md-tab>
                            <md-tab id="byFloor">
                                <md-tab-label>By Floor</md-tab-label>
                                <md-tab-body>
                                    <input ng-model="search.floor" type="text" search-floor="" />
                                    <div >
                                        <div class="keyboard-container">
                                            <ul ng-repeat="row in searchByFloorKeyboardLayout" style="list-style-type: none;">
                                                <li ng-repeat="element in row.row" class="floor-keyboard-button"
                                                    ng-click="floorKeyPressed(element.value, element.action)">
                                                    {{element.value}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>