<div id="content-facilities">
	<div class="title" translate="mainselection.facilities">
		Facilities
	</div>
	<div id="facilities-slider-container">
		<slick arrows="false" infinite="true" slides-to-show="{{ facilities.length < 5 ? facilities.length : 5 }}" swipe-to-slide="true"  dots="true" init-onload="true" data="facilities">
			<div ng-repeat="facility in facilities" class="facility-container">
				<img ng-src="{{ facility.imageUrl }}" class="reflect" ng-click="showFacilityDetails(facility.id)">
			</div>
		</slick>
	</div>
</div>